<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Set the viewport so site displays well on mobile too --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Lookup</title>
</head>

<body>
    <h1>
        Weather Lookup
    </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/instructions">Instructions</a> 
    </div>
    <form method="POST">
        <input class="input" name="city" type="text" placeholder="City Name">
        <button> Submit </button>
    </form>
    <form>
        <input type="checkbox" name="geolocation" value="geolocation">
        <label for="geolocation"> Use current location</label>
        <p>Note: "use current location" option requires the app to access your location</p>
        <p>Saved Cities: </p>
        <ul>
            <li>Example 1 - Delete x</li> 
            <li>Example 2 - Delete x</li> 
        </ul>
    </form>

</body>

</html>