<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Lookup</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        function geolocation() {
            var pos = {}
            if (navigator.geolocation) {
                navigator.geolocation.getCurrentPosition(function(position) {
                pos = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude
                };
    
                $.ajax({
                    type: "POST",
                    url: "{{ url_for('geolocation') }}",
                    contentType: "application/json",
                    data: JSON.stringify({location: pos}),
                    dataType: "json",
                });
    
                });
            } else {
                alert("Error: ensure geolocation is enabled for your browser/device");
            }
        }
    </script>
</head>

<body>
    <h1>
        Weather Lookup
    </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/instructions">Instructions</a> 
    </div>
    <form method="POST">
        <input class="input" name="city" type="text" placeholder="City Name" value="{{city}}">
        <button> Submit </button>
    </form>
    <br>
    <form method="POST">
        <input type="submit" name="random_city" value="Random City">
    </form>
    <p>Random City: press this button to automatically get the weather for a random city.</p>
    <button name="geolocation" onclick="geolocation()">Current City</button>
    <p>Current City: press this button to automatically get the weather for your current location rather than typing the city name. Note, this features requires the app to access your geolocation and a page refresh to view the result.</p>
    <h2>Saved Cities:</h2>
    <p>
    {% for weather in weather_data %}
        City: {{ weather.city }}
        <br>
        Country: {{ weather.country }}
        <br>
        Temp: {{ weather.temperature }} °F
        <br>
        Description: {{ weather.description }}
        <br>
        <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="icon">
        <br>
        <a href="delete/{{ weather.city }}">Delete</a>
        <br>
    {% endfor %}
    </p>
</body>

</html>