<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>

<body>
    <h1>
        Instructions
    </h1>
    <div class="topnav">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a class="active" href="/instructions">Instructions</a> 
    </div>
    <p>
        <ul>
            <li>Instructions</li> 
            <li>Enter City name in text bar, or get random city name or use current location</li>
            <li>Press Submit. Weather result will display in a new page</li>
            <li>Use links at the top of the page to navigate the site</li>
        </ul>
    </p>
</body>

</html>