<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Instructions</title>
</head>

<body>
    <h1>
        Instructions
    </h1>
    <div class="topnav">
        <a href="/">Home</a> |
        <a href="/about">About</a> |
        <a class="active" href="/instructions">Instructions</a> 
    </div>
    <p>
        <ul>
            Instructions
            <li>Use the navbar on the top of the page to navigate the site.</li> 
            <li>This app looks up the weather by City Name. There are 3 options for entering in data: Enter City name in text bar, get random city name, or use current location</li>
            <li>For entering in City name in text bar: Type name into bar and press Submit.</li>
            <li>For Random City: Press the Random City button.</li>
            <li>For Current Location: Press the Current Location button. Then refresh the page.</li>
            <li>The Weather Result will be displayed on the Saved Cities section of the home page</li>
            <li>To delete a saved city, press Delete</li> 
        </ul>
    </p>
</body>

</html>