<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <!-- Set the viewport so site displays well on mobile too --> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Weather Result</title>
</head>

<body>
    <h1>
        Weather Result
    </h1>
    <div class="topnav">
        <a class="active" href="/">Home</a> |
        <a href="/about">About</a> |
        <a href="/instructions">Instructions</a> 
    </div>
    <p>
        City: {{ weather.city }}
        <br>
        Temp: {{ weather.temperature }} °F
        <br>
        Description: {{ weather.description }}
        <br>
        <img src="http://openweathermap.org/img/wn/{{ weather.icon }}.png" alt="icon">
    </p>
</body>

</html>